html {
	background-color: transparent;
}

body {
	border: 0px solid gray;
	padding:4px 4px 4px 4px;

}

.console-container {
    width:100%;
    text-align:left;
    vertical-align:top;
    color:gold;
}

.console-line {
    word-wrap: break-word;
}

.console-line.error {
    color:red;
}

